*{
    margin: 60;
    padding: 80;
}
#banner{
    background: url(class.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
}
.banner-text{
    text-align: center;
    color:#fff;
    padding-top: 60px;
}
.banner-text h1{
    font-size: 40px;
}
.banner-text p{
    font-size: 20px;

}
.link-button{
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 255, 149);
    padding: 8px 30px;
}
.dream-big{
    text-align: center;
    color:black;
    padding-top: 09px;
}
.dream-big h1{
    font-size: 32px;
}
.dream-big p{
    font-size: 15px;
}
.row {
margin-top: 2px;
display: flex;
justify-content: space-between;
}
.course-col{
    flex-basis: 5px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 2px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 03s;
}
h3{
     text-align:center;
}


