*{
    margin: 60;
    padding: 80;
}
#banner{
    background: url(class.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
}
.banner-text{
    text-align: center;
    color:#fff;
    padding-top: 60px;
}
.banner-text h1{
    font-size: 40px;
}
.banner-text p{
    font-size: 20px;

}
.link-button{
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 255, 149);
    padding: 8px 30px;
}